h1 {
  filter: drop-shadow(0px 2px 2px #ffffff44);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: colorRotate 8s ease-in-out 0s infinite;
  padding-bottom: 8px;
  -webkit-text-stroke: 0.5px black;
}

span {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: span 6s ease-in-out infinite;
    background-size: 400% 100%;
    text-shadow: 0px 0px 1px #ffffff;
    margin-top: 2px;
    -webkit-text-stroke: 0.2px rgb(255, 0, 208);
}

svg {
  filter: drop-shadow(0px 0px 2px #ffffffFF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: colorRotate 8s ease-in-out 0s infinite;
}

a {
  filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 10px 20px;
  -webkit-animation: colorRotate 8s ease-in-out 0s infinite;
  -webkit-text-stroke: 0.5px black;
}

code {
  filter: drop-shadow(0px 0px 1px #00000080);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 10px 20px;
  -webkit-animation: colorRotate 8s ease-in-out 0s infinite;
  text-shadow: 1px 1px 1px #fff5fa;
}

header {
  filter: drop-shadow(0px 2px 2px #f87dff);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 10px 20px;
  -webkit-animation: colorRotate 8s ease-in-out 0s infinite;
  text-shadow: 1px 1px 1px #ff99cc;
  -webkit-text-stroke: 1px black;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
    text-shadow: 0px 0px 1px #6666ff;
  }
  10% {
    color: #0099ff;
    text-shadow: 0px 0px 1px #0099ff;
  }
  50% {
    color: #00ff00;
    text-shadow: 0px 0px 1px #00ff00;
  }
  75% {
    color: #ff3399;
    text-shadow: 0px 0px 1px #ff3399;
  }
  100% {
    color: #6666ff;
    text-shadow: 0px 0px 1px #6666ff;
  }
}

form { 
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 10px 20px;
  -webkit-animation: colorRotate 8s ease-in-out 0s infinite;
}
